.post-avatar {
  display: flex;
  align-items: center;
  &-name {
    margin-left: 10px;
    div:nth-of-type(1) {
      font-weight: bold;
      font-size: 14px;
    }
    div:nth-of-type(2) {
      font-size: 12px;
      cursor: pointer;
      user-select: none;
    }
  }
}

.post-text {
  padding: 16px 10px;
  textarea {
    resize: none;
    width: 100%;
    min-height: 160px;
    outline: none;
    font-size: 20px;
  }
}

.more-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 3px #7474744d;
  padding: 12px;
  border-radius: 10px;
  .left {
    font-size: 28;
    font-weight: bold;
  }
}
