.share-block {
  padding: 20px 20px 10px 20px;
  .top {
    display: flex;
    align-items: center;
    .trigger-input {
      flex: 1;
      display: flex;
      align-items: center;
      text-indent: 18px;
      background-color: #f2f2f2;
      border-radius: 20px;
      height: 40px;
      width: 320px;
      cursor: pointer;
      user-select: none;
      margin-left: 20px;
    }
  }
  .split-line {
    height: 1px;
    width: 100%;
    background: #c1c1c1;
    margin: 10px 0;
  }
  .bottom {
    display: flex;
    button {
      flex: 1;
    }
  }
}
